/* @import url("https://fonts.googleapis.com/css2?family=Finlandica&family=GFS+Neohellenic&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  /* font-family: "Finlandica", sans-serif; */
  /* font-family: "GFS Neohellenic", sans-serif; */
  font-family: "Rajdhani", sans-serif;
  transition: all 0.2s ease-in-out;
}
:root {
  --bg-light-primary: #f8fafc;
  --bg-light-secondary: #f1f5f9;

  --bg-dark-primary: #20232a;
  --bg-dark-secondary: #33373e;

  --text-light-color: #f2f2f2;
  --text-dark-color: #0d1b2a;
}
.main-parent {
  display: flex;
  overflow-x: hidden;
}
::selection {
  background-color: #ef233c;
  color: #f1f5f9;
}

.light ::-webkit-scrollbar {
  width: 0.1vw;
}
.light ::-webkit-scrollbar-track {
  background-color: #f8fafc;
}
.light ::-webkit-scrollbar-thumb {
  background-color: #20232a;
}
.dark ::-webkit-scrollbar {
  width: 0.1vw;
}
.dark ::-webkit-scrollbar-track {
  background-color: #20232a;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #f8fafc;
}
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.link-styles-anchor-tags {
  text-decoration: none;
  color: inherit;
}

.form-root {
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #eef2f6;
}
